<h1>Clientes</h1>
<a href="/clientes/novo" class="btn btn-primary">Novo</a>
<hr>
<table class="table" id="clientes">
    <thead> <!--Título da tabela -->
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th></th>
        </tr>
    </thead>
    <tbody> <!--CORPO da tabela -->
        {{#each listaclientes}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.sexo}}</td>
            <td>{{this.telefone}}</td>
            <td>
                <a href="/clientes/alterar/{{this.id}}" 
                        class="btn btn-warning">Alterar</a>
                
                <button data-id="{{this.id}}"
                    class="btn btn-danger js-delete">Excluir</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div class="modal" tabindex="-1" id="meumodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Excluir cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Confirma a exclusão do cliente?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnsim">SIM</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/public/site.js"></script>