<h2>Cliente</h2>
<hr>

<form action="/clientes/save" method="post">

    <input type="hidden" name="id" 
    value="{{cliente.id}}">

    <div class="form-group">
        <label for="txtnome">Nome</label>
        <input type="text" value="{{cliente.nome}}"
            class="form-control"
            id="txtnome" name="nome" required>
    </div>
    <div class="form-group">
        <label for="txtendereco">Endereço</label>
        <input type="text" value="{{cliente.endereco}}"
            class="form-control"
            id="txtendereco" name="endereco">
    </div>
    <div class="form-group">
        <label for="txtsexo">Sexo</label>
        <input type="text"  value="{{cliente.sexo}}"
            class="form-control"
            id="txtsexo" name="sexo">
    </div>
    <div class="form-group">
        <label for="txttelefone">Telefone</label>
        <input type="text" value="{{cliente.telefone}}"
            class="form-control"
            id="txttelefone" name="telefone">
    </div>

    <button type="submit" 
        class="btn btn-primary">Enviar</button>

</form>